{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  }
   
  body {
  background: #fff7ed;
  }
   
  .navbar {
  background: #c2410c;
  color: white;
  padding: 20px 50px;
   
  display: flex;
  justify-content: space-between;
  align-items: center;
  }
   
  .navbar ul {
  display: flex;
  list-style: none;
  gap: 25px;
  }
   
  .navbar a {
  color: white;
  text-decoration: none;
  }
   
  .hero {
  text-align: center;
  padding: 100px 20px;
  background: linear-gradient(
  rgba(0,0,0,0.5),
  rgba(0,0,0,0.5)
  ),
  url("https://images.unsplash.com/photo-1504674900247-0877df9cc836");
   
  background-size: cover;
  color: white;
  }
   
  .hero h1 {
  font-size: 3rem;
  }
   
  .hero p {
  margin: 20px 0;
  }
   
  .hero button {
  background: #ea580c;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 8px;
  cursor: pointer;
  }
   
  .menu {
  padding: 60px 20px;
  }
   
  .menu h2 {
  text-align: center;
  margin-bottom: 30px;
  }
   
  .cards {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
  gap: 20px;
  }
   
  .card {
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ddd;
  text-align: center;
  }
   
  .about,
  .contact {
  padding: 60px 20px;
  text-align: center;
  }
   
  .footer {
  background: #7c2d12;
  color: white;
  padding: 20px;
  text-align: center;
  }
